/* Estilo para resaltar el tiempo de retraso */
.punto-control {
    font-weight: normal; /* Eliminar negrita del texto del punto de control */
}

/* Estilo para el tiempo de retraso */
.retraso {
    color: red; /* Cambiar el color del tiempo de retraso a rojo */
}

/* Estilo para el tiempo de adelanto */
.adelanto {
    color: green; /* Cambiar el color del tiempo de adelanto a verde */
}

/* Estilo para ocultar el botón "Mostrar" después de hacer clic */
.mostrar {
    display: none;
}

.negrita {
    font-weight: bold;
}

.punto-control {
    margin-bottom: 10px;
}

.punto-control:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
